.form{
   position: relative;
   margin: 8% auto;
   min-height: 60%;
   padding: 0px 0px 5px 15px;
   box-sizing: border-box;
   position: relative;
   width: 25%;
   height:auto;
   border:1px solid;
   border-radius: 15px;
   text-align: center;
   background-color: white;
}

input[type="submit"]{

    /* border-color: lightblue; */
    width: 80%;
    height: 30%;
    /* color: lightblue; */
    margin: 10px 20px;
    border-radius: 4px;
    /* border-style: outset; */
    background: blue;
    border:0 none;
    position: relative;
    color: white;

}

body{
    background-color: white;
}

.buttons{
    text-align: right;
    background-color: white;
    height: 35px;
    position: relative;
    padding: 5px;

}

.outershell{
    background-color: lightskyblue;
    height: 700px;
    border:1px solid coral;
    border-radius: 25px;
    
}

.images{
    width: 50px;
}